<nav class="navbar navbar-expand-xl navbar-dark color-primary">
    
    <a class="navbar-brand pl-5" routerLink="/pass">Concienciamiento de los factores implicados en la videodicción</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto mr-5">
        <a class="nav-item nav-link mx-3" href="#">Estadisticas</a>
        <a class="nav-item nav-link mx-3" href="#">Configuración</a>
        <a class="nav-item nav-link mx-3" href="#">Ayuda</a>
      </div>
    </div>
  </nav>