
<div class="row justify-content-center h-100">
    <div class="col-6 align-self-center text-center">
        <img src="../../assets/img/portada.jpg" class="img-fluid">
    </div>
    <div class="col-6 align-self-center text-center pr-5">
        <h2>¿Para que sirve la aplicacion?</h2>
        <p class="pt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error impedit perspiciatis corrupti dignissimos voluptates facilis suscipit ullam esse repellendus, beatae a nemo explicabo veniam repellat est illo iusto. Esse error laudantium, a alias autem quod itaque voluptatum enim accusantium rem nemo dignissimos, similique adipisci modi dicta illo, tempore quasi facere?</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem libero illum aliquam? Voluptatem consectetur blanditiis enim! Illum, magni dolor? Dicta exercitationem natus quidem aliquid fugiat. Quis repellendus hic recusandae neque. Quisquam nihil at iusto, repellendus asperiores numquam quaerat sunt fugit. Repudiandae fugit, dignissimos sequi itaque quis unde suscipit velit.</p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia officiis eligendi, magni deserunt tempora inventore porro itaque soluta cumque veniam fugit quaerat harum quam id illo facilis asperiores. Velit totam nisi voluptate pariatur consequuntur facilis alias distinctio culpa beatae, ratione molestiae ipsum. Accusamus corporis cupiditate illum at inventore ab. Est?
        </p>
    </div>
</div>