<h2 mat-dialog-title class="text-center"><b>{{data.title}}</b></h2>

<mat-dialog-content class="text-center" style="white-space: pre;">{{data.message}}</mat-dialog-content>

    <div class="row text-center pt-4">
        <div class="col-12">
            <button class="btn btn-primary" [mat-dialog-close]="true">{{data.okButton}}</button>
            <span class="pr-3"></span>
            <button class="btn btn-primary" [mat-dialog-close]="false">{{data.noOkButton}}</button>
        </div>
    </div>