
<app-navbar [isTitle]="false" [user]="user" [game]="game"></app-navbar>

<div class="pt-4 pb-3">
    <div class="container-fluid keep-space shadow-lg bg-light rounded pb-3">
        <div class="container-fluid pt-4">
            <h2 class="text-center">Historico de relaciones</h2>
            <hr>

            <div *ngIf="history.length === 0"
                 class="container-fluid pb-3 text-center">
                <h6>Todavia no ha realizado ninguna relación</h6>
            </div>

            <div *ngIf="history.length !== 0"
                class="row text-center">
                <div class="col-4">
                    <h6>Hooks</h6>
                    <hr>
                </div>
                <div class="col-4">
                    <h6>Risks</h6>
                    <hr>
                </div>
                <div class="col-4">
                    <h6>Catalysts</h6>
                    <hr>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3" *ngFor="let relation of history; let isLast = last;">
            <app-historical-session [active]="relation"
                                    [disabledCards]="false"
                                    [showTitleType]="false"></app-historical-session>
            <div class="text-right">
                <button (click)="deleteRelation(relation)"
                        class="btn btn-primary">Eliminar</button>
            </div>
            <hr *ngIf="!isLast">
        </div>

    </div>
    <div class="container-fluid text-center pt-4 pb-5">
        <button class="btn btn-primary" (click)="goBack()">Cerrar</button>
    </div>
</div>
