
<app-navbar [isTitle]="false" [user]="user" [game]="game"></app-navbar>

<div style="min-height: 100%; position: relative;">
    <div class="container pt-5">
        <h2 class="text-center">Historico de relaciones</h2>
        <hr>
        <div class="row text-center">
            <div class="col-4">
                <h5>Hooks</h5>
                <hr>
            </div>
            <div class="col-4">
                <h5>Risks</h5>
                <hr>
            </div>
            <div class="col-4">
                <h5>Catalysts</h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="container" *ngFor="let relation of history">
        <div class="pt-4"></div>
        <app-historical-session [active]="relation"  [disabledCards]="false"></app-historical-session>
        <hr>
    </div>

    <div class="container text-center pt-3 pb-5">
        <button class="btn btn-lg btn-primary" routerLink="..">Cerrar</button>
    </div>
</div>

<app-footer class="fixed-bottom"></app-footer>
