
<app-navbar [message]="title" [isTitle]="true"></app-navbar>

<div class="row no-gutters justify-content-center h-100">
    <div class="col-12 col-lg-6 align-self-center">
        <img src="assets/img/portada.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-lg-4 align-self-center">
        <form [formGroup]="form" (ngSubmit)="newSession()">
            <h2 class="text-center">¿Por donde empiezo?</h2>
            <div class="row pt-3 text-center">
                <div class="col-6">
                    <input class="form-control"
                    type="text"
                    placeholder="Introduce un nombre de usuario"
                    formControlName="usuario"
                    [class.is-invalid]="submitted && fields.usuario.errors">
                </div>
            </div>
            <small *ngIf="submitted && fields.usuario.errors"
                    class="pl-2 text-danger">Este campo es obligatorio</small>

            <div class="row pt-2">
                <div class="col-6">
                    <input class="form-control"
                    type="text"
                    placeholder="Introduce el nombre del juego"
                    formControlName="juego"
                    [class.is-invalid]="submitted && fields.juego.errors">
                </div>
            </div>
            <small *ngIf="submitted && fields.juego.errors"
                    class="pl-2 text-danger">Este campo es obligatorio</small>

            <div class="row pt-3">
                <div class="col-6">
                    <div class="input-group">
                        <button type="submit"
                                class="btn btn-outline-primary btn-block">Nueva sesión</button>
                    </div>
                </div>
            </div>
        </form>
        <h2 class="pt-5">Descubre los factores asociados a la videoadicción</h2>
        <p class="pt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error impedit perspiciatis corrupti dignissimos voluptates facilis suscipit ullam esse repellendus, beatae a nemo explicabo veniam repellat est illo iusto. Esse error laudantium, a alias autem quod itaque voluptatum enim accusantium rem nemo dignissimos, similique adipisci modi dicta illo, tempore quasi facere?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem libero illum aliquam? Voluptatem consectetur blanditiis enim! Illum, magni dolor? Dicta exercitationem natus quidem aliquid fugiat. Quis repellendus hic recusandae neque. Quisquam nihil at iusto, repellendus asperiores numquam quaerat sunt fugit. Repudiandae fugit, dignissimos sequi itaque quis unde suscipit velit.
        </p>
    </div>
</div>

<app-footer class="fixed-bottom"></app-footer>
