
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div *ngFor="let card of cards" 
             class="swiper-slide">
                <img [src]="card.content" class="img-fluid">
        </div>
    </div>
    <div class="swiper-pagination"></div>

    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
</div>

<div class="row pt-2">
    <div [ngStyle]="{'visibility': showAdd ? 'visible' : 'hidden'}" 
         class="col-12 text-center">
        <button type="submit" 
                class="btn btn-primary" 
                (click)="addCard()">
            Añadir
        </button>
    </div>
</div>
